<html>
    <head>
        <title>Django first blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django blog</a></h1>
        </div>

        <div>
            <p>published: 10.07.2023, 20:36</p>
            <h2><a href="">My first post</a></h2>
            <p>Kharkiv, Ukraine</p>
        </div>

        <div>
            <p>published: 10.07.2023, 20:38</p>
            <h2><a href="">My second post</a></h2>
            <p>Kharkiv, Ukraine</p>
        </div>
    </body>
</html>
