.page-header {
    background: linear-gradient(
    135deg,
    #5433ff, #20bdff, #a5fecb);

    background-size: 400%;
    animation: anim 5s infinite alternate;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

/* anim - name of my custom animation
   keyframes - diapason of animation */
@keyframes anim {
  from {
      background-position: 0%;
  }
  to {
      background-position: 100%;
  }
    }

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {  /* h2, h3, h4 - change nothing at the moment */
    font-family: 'Lobster', cursive;
    /*
    background: #0fd850;
    */
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

/* add button */
.top-menu, .top-menu:hover, .top-menu:visited {
    float: right;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #748700;
}

.top-menu {
 outline: none;
 cursor: pointer;
 border: none;
 padding: 0.9rem 2rem;
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 position: relative;
 display: inline-block;
 letter-spacing: 0.05rem;
 font-weight: 700;
 font-size: 17px;
 border-radius: 500px;
 overflow: hidden;
 background: #51EAFF;
 color: ghostwhite;
}

.top-menu span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
}

.top-menu: hover span {
 color: black;
}

.top-menu::before,
.top-menu::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

.top-menu::before {
 content: "";
 background: #000;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.top-menu:hover::before {
 transform: translate3d(100%, 0, 0);
}

* {
  box-sizing: border-box;
}
